.essay-card {
    background-color: white;
    padding: 15px;
    text-align: left;
    border: none;
    border-radius: 3px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 2px;
    width: 34vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.essay p {
  font-size: 14px;
}

.essay-card-right {
  text-align: end;
  margin-top: auto;
}

.essay-card p {
  margin-bottom: 1.5vh;
}

.btn-read {
  background-color: white;
  color: #01B4BC;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 3px;
}

.essay-card .checking-status {
  color: #01B4BC;
  border-radius: 4px;
  margin-top: 1vh;
  margin-bottom: 0vh;
}