.essay {
    margin-left: 6vh;
    margin-right: 6vh;
  }
  
.essay h2 {
    margin-top: 5vh;
    margin-bottom: 3vh;
    font-size: 32px;
    font-weight: 600;
  }
  .essay-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(34vh, 1fr));
    gap: 10px;
    margin-left: 3vw;
    margin-right: 3vw;
  }

.no-appeals-message {
  width: 100%;
  text-align: center;
  font-size: 32px;
  color: #000;
  padding: 3rem;
  font-weight: 800;
}

.essay .essay-grid .no-appeals-message {
  width: 100%;
  text-align: center;
  font-size: 21px !important;
  color: #000;
  padding: 3rem;
  font-weight: 500;
}
