.profile-container {
  font-family: 'Arial', sans-serif;
  color: #333;
  min-height: 100vh;
  background-color: #f3f4f6;
}

.content {
  margin-left: 10vh;
  margin-right: 10vh;
}

.section-title {
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
  font-size: 32px;
  font-weight: 600;
}

.info {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.info > * {
  flex: 1;
}

.edit-container {
  display: flex;
  justify-content: space-between;
}

.edit-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2vh;
}

.info-text .nickname {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 1vh;
}

.info-text .email {
  font-size: 28px;
  color: #555;
  margin-bottom: 2vh;
}

.info-text .results {
  font-size: 18px;
  margin-bottom: 1vh;
}

.info-buttons {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: flex-end;
}

input[type="text"] {
  width: 100%;
  height: 4vh;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
  margin-bottom: 1vh;
  padding: 0px 15px;
  margin-bottom: 2vh;
}

.btn {
  font-size: 20px;
  width: 35vh;
  height: 4vh;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  padding: 0px 15px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.btn.white {
  background-color: #fff;
  color: #01B4BC;
}

.btn.blue {
  background-color: #01B4BC;
  color: #fff;
}

.btn:hover {
  opacity: 0.8;
}

.chart {
  height: 300px;
  margin-bottom: 30px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.essay-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(34vh, 1fr));
  gap: 10px;
  margin-left: 10vh;
  margin-right: 10vh;
  margin-bottom: 3vh;
}


.btn:active {
  transform: scale(0.98);
}

.chart {
  width: 100%;
  height: 400px;
  margin: 20px 0;
  padding: 20px;
}