.essay-breadcrumbs-section {
  display: flex;
  flex-direction: row;
  margin-left: 8vh;
  margin-top: 2vh;
  background-color: #f8f9fc;
  font-size: 14px;
}
.breadcrumbs-href {
  /* color: #01B4BC; */
  color: black;
  /* text-decoration: none; */
}
.breadcrumbs-variant {
  /* color: #01B4BC; */
  color: black;
  text-decoration: none;
  margin-left: 5px;
}
  
.info-container {
  display: flex;
}

.like-text {
  text-align: right;
  margin-top: 1.5vh;
  margin-right: 2vh;
  width: 100%;
}

.like-content {
  display: flex;
  flex-direction: row;
}

.info-text {
  margin-left: 0;
  margin-top: 1vh;
  text-align: left;
  width: 100%;
  font-size: 14px;
}

.comment-section {
  text-align: left;
  background-color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
  font-size: 14px;
}
.auther-text {
  font-weight: 500;
}
.date-text {
  font-weight: 200;
  margin-left: 1vh;
}
.comment-text {
  margin-top: 1vh;
}

.back-link-container .back-link {
  display: block;
  text-align: left;
  color: #25274D;
  font-size: 14px;
  text-decoration: none;
  margin-left: 8vh;
  margin-top: 1vh;
}

.like-button {
  margin-left: auto;
  margin-right: 1vh;
  background-color: #25274D;
  margin-top: 1vh;
  color: #01B4BC;
  cursor: pointer;
  height: 4vh;
  width: 25vh;
  border-radius: 3px;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease;
}

.like-button:hover {
  background-color: white;
}

.like-button:disabled {
  cursor: auto;
  background-color: #25274D; /* Цвет остается тем же */
}

.like-button.liked {
  background-color: white;
}

.variant-title-section {
  background-color: EDEDED;
  margin: auto;
  margin-left: 6vh;
  margin-right: 6vh;
  margin-top: 2vh;
  padding: 1.5vh;
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px;
  font-size: 14px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  text-align: justify;
}

.essay-text-section {
  background-color: white;
  margin: auto;
  margin-left: 6vh;
  margin-right: 6vh;
  margin-top: 1vh;
  padding: 1.5vh;
  border-bottom-left-radius: 10px; 
  border-bottom-right-radius: 10px;
  font-size: 14px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  text-align: justify;
}

.content-container {
  margin-left: 6vh;
  margin-right: 6vh;
}

.result-content {
  margin-bottom: 4vh;
  margin-top: 4vh;
}

.result-table {
  width: 100%;
  border-collapse: collapse;
}
.result-table th, .result-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.result-table th {
  background-color: #25274D;
  color: #ffffff;
}

.result-table td {
  font-size: 14px;
  color: black;
}

.result-table .points {
  color: #01B4BC;
  text-align: center;
}

.btn-publish {
  margin-left: 6vh;
  background-color: #01B4BC;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 2vh;
  height: 4vh;
  font-size: 14px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease;
}
.btn-publish:hover {
  background-color: white;
  color: #01B4BC;
}


.comment-input-section {
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
}

.comment-input {
  max-height: 6vh;
  width: 100%;
  padding: 1vh;
  font-size: 14px;
  border: 1px solid #ddd;
  margin-bottom: 1vh;
  outline: none;
  resize: none;
  overflow-y: auto;
}

.add-comment-button {
  background-color: #01B4BC;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 1vh 2vh;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease;
}

.add-comment-button:hover {
  background-color: white;
  color: #01B4BC;
}
